* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


.img-bg-1{
    background-image: url("./ABOUT-BG.webp");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
}
.img-bg-1A{
    height: 150px;
    width: 100%;
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
}
.img-bg-1A h1{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
}

.home-about{
    margin-top: 50px;
    margin-left: 100px;
    color: rgb(51,67,117);
}
.home-about a{
    text-decoration: none;
    color: rgb(51,67,117);
}
.home-about a:hover{
    color: rgb(0, 174, 239);
}
.home-about i:hover{
    color: rgb(0, 174, 239);
}